apiVersion: v1
kind: Secret
metadata:
    name: "{{ cfme_username }}"-aws-credentials
data:
    AWS_EC2_REGION: "{{ aws_ec2_region | b64encode }}"
    AWS_ACCESS_KEY: "{{ aws_access_key | b64encode }}" 
    AWS_SECRET_KEY: "{{ aws_access_secret | b64encode }}"
    AWS_DOMAIN: "{{ aws_domain | b64encode }}"
    AWS_WEB_CONSOLE: "{{ aws_web_console | b64encode }}"
    AWS_WEB_CONSOLE_CREDENTIALS: "{{ aws_web_console_cred | b64encode }}"
    AWS_WEB_CONSOLE_USERNAME: "{{ aws_web_console_cred.split('/')[0] | trim | b64encode }}"
    AWS_WEB_CONSOLE_PASSWORD: "{{ aws_web_console_cred.split('/')[1] | trim | b64encode }}"